@page
@model AboutModel
@{
}


<h1 class="display-5 mb-5">About JobSearch</h1>

<div class="container">
    <p>
        I lost my job back in October 2023 because of corporate cost cutting concerns. Namely, products that are not generating profits will be nixed.
        My boss, Jerry Flynt, went to management and explained they can't just let employees go as we are still in a support role and contracts
        coming in. Thankfully, management agreed to pay for hours I turned in as a contractor but only up to 20 hours per week. Well, may not have
        sounded good at the time but money coming in is better than no money coming in. Since then I have been studying C#, Python (Django), and
        brushing up on my web skills in between working on projects.
    </p>
    <p>
        Moving forward, I decided to create a small program to track applications I have made. Now mind you, I had this in mind but never implemented it
        because I was busy looking for employment. Once I learned Entity Framework Core I became excited to see how easy it was to setup and using the
        features that allow you to perform CRUD operations in a simple way.
    </p>
    <p>
        This application is the result of saying to myself, I can do this. And sure nuf, I did it! I was rather pleased with how quickly I was able to
        create the one aspect of an application that usually can take quite some time to layout and build.
    </p>

    <p>
        Needless to say they are not working with me anymore so I am in the market for new employment. If you like this application and think it warrants
        placing me in your programming department because you are overwhelmed with excitement as you see this wonderful application, please contact me
        using the information below. Thank you.
    </p>

    <p>To Reach Roland:</p>
    <p>
        Roland Faulhaber Jr.<br />
        
            12427 Darton Dr.<br />
            Arlington, TN 38002<br />
        
        
        faulnrol@gmail.com || c 901-834-9837
    </p>
    
</div>